/*  
    sınıflardan bahsederken -> .class-ismi{cart curt} 
    idlerden bahsederken -> #id-ismi{car curt}
*/
/*kutu özellikleri*/
.container {
    width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 50px auto 0;
}

.card {
    width: 21.33333333333333333333333333333333%;
    float: left;
    padding: 5%;
    margin-left: 2%;
    background-color: bisque;
    border-radius: 10px;
}
.left-bar {
    width: 200px;
    float: left;
}

.lefto {
    padding: 2%;
}
.content {
    width: 800px;
    float: left;
}


.box{
    width: 300px;
    height: 300px;
    padding: 10px;
    /* margin: 10px; */
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.clear {
    clear: both;
}
.bg-yellow {
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}

/*css selector*/
li:nth-child(odd){ /*tek satılrar*/
    color: brown;
}


li:nth-child(even){ /*çift satırlar*/
    color: orange;
}

/* li:first-child{
    color: blue;
} */

/* li:nth-child(2){
    color: orange;
} */

/* li:last-child{
    color: yellow;
} */

.color-green .fw-bold{
    color: green;
    font-weight: bold;
}

.color-red.fw-bold{
    color: red;
    font-weight: bold;
}

/*******************/
h1, h2, h3, h4, h5, h6 {
    color: darkgrey;
}

h1 {
    font-size: 30px;
}

#first-article {
    color: blueviolet;
    font-size: 50;
}

p {
    font-size: 15px;
}

.text-red {
    color: red;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}